* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "helvetica", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.resume-container {
  width: 210mm;
  height: 290mm;
  position: relative;
  background-color: #fafafa;

  /* margin-bottom: 20px; */
}

.resume-container li {
  margin-left: 30px;
  padding: 2px;
}
h5 {
  margin-left: 10px;
  margin-top: 5px;
}

.education h5 {
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}

hr {
  border-top: 1px solid rgb(119, 111, 0);
  margin-bottom: 10px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2px;
}

.name {
  text-align: center;
}

.contactInfo li {
  display: inline;
  margin: 2px;
}

.education li {
  display: inline;
}

.about p {
  padding: 5px;
}
.quote {
  margin-left: 10px;
  margin-top: 3px;
  font-style: italic;
}

.languages li {
  float: left;
  /* width: 33%; */
  /* display: inline; */
  margin: 10px;
  /* background-color: blueviolet; */
  list-style-type: none;
}

.skillsAbilities {
  /* margin: 30px; */
  margin-top: 80px;
  /* width: 33%; */
}

.box {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 4px;
}
td {
  padding: 3px;
  padding-left: 4px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(0, 132, 255);
}
